:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --light-alfa-color: rgba(255, 255, 255, 0.6);
  --dark-color: #000000;
  --border-header-color: #ececec;
  --border-card-color: #eeeeee;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --btn-accent-color: #188ce8;
  --bg-first-hero: rgba(47, 48, 58, 0.4);
  --bg-last-hero: #c4c4c4;
  --bg-portfilio-example-thumb: rgba(33, 150, 243, 0.9);
  --soc-icon-color-main: #afb1b8;
  --soc-bg-footer: rgba(255, 255, 255, 0.1);
  --subscription-input-border: rgba(255, 255, 255, 0.3);
  --activity-bg-text-thumb: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-input-textarea: rgba(33, 33, 33, 0.2);
  --border-comment-textarea: rgba(117, 117, 117, 0.5);
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --main-gap: 30px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.input,
.textarea {
  background-color: transparent;
  outline: none;
}

.link {
  text-decoration: none;
}

.logo--link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  background-color: var(--light-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text {
  color: var(--secondary-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.logo {
  display: block;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__dark-part {
  color: var(--dark-color);
}
.logo__light-part {
  color: var(--light-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--btn-accent-color);
}

.page-header {
  border-bottom: 1px solid var(--border-header-color);
}
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:first-child {
  margin-right: 50px;
}

.nav__link {
  color: var(--main-color);
}

.nav__link,
.contacts-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.link--active {
  position: relative;
  color: var(--accent-color);
}
.link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: var(--bg-last-hero);
  background-image: linear-gradient(var(--bg-first-hero), var(--bg-first-hero)), url(../../../images/bg/jpg/desktop/bg-hero-desktop@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: var(--main-gap);
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--light-color);
}

.hero__button {
  display: block;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  margin-right: calc(-1 * var(--main-gap));
}

.features__item {
  flex-basis: calc(25% - var(--main-gap));
  margin-right: var(--main-gap);
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: var(--main-gap);
  background-color: var(--bg-light-color);
}

.activity__title {
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
}

.activity__item:not(:last-child) {
  margin-right: var(--main-gap);
}

.activity__thumb {
  position: relative;
}

.activity__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  background: var(--activity-bg-text-thumb);
}

.team {
  background-color: var(--bg-light-color);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  margin-right: calc(-1 * var(--main-gap));
}

.team__item {
  flex-basis: calc(25% - var(--main-gap));
  margin-right: var(--main-gap);
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__data {
  padding: var(--main-gap);
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__soc-list {
  display: flex;
  justify-content: center;
}

.team__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--soc-icon-color-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  fill: var(--light-color);
  background-color: var(--accent-color);
}
.team__soc-link:not(:last-child) {
  margin-right: 10px;
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  margin-right: calc(-1 * var(--main-gap));
}

.clients__item {
  flex-basis: calc(16.6666666667% - var(--main-gap));
  margin-right: var(--main-gap);
}

.clients__link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--soc-icon-color-main);
  border-radius: 4px;
  fill: var(--soc-icon-color-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  display: block;
  border-radius: 4px;
  border: 0;
  background-color: var(--bg-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exsample__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--main-gap));
  margin-bottom: calc(-1 * var(--main-gap));
}

.example__item {
  flex-basis: calc(33.3333333333% - var(--main-gap));
  margin-right: var(--main-gap);
  margin-bottom: var(--main-gap);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example__item:hover, .example__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__top-thumb {
  position: relative;
  overflow: hidden;
}

.example__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--bg-portfilio-example-thumb);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example__item:hover .example__overlay {
  transform: translateY(0);
}

.example__text {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.example__bottom-thumb {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
}

.example__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-color);
}

.example__abbr {
  text-transform: uppercase;
}

.example__bottom-title {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.example__link {
  display: block;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__item:nth-child(-n+2) {
  margin-bottom: 9px;
}
.address__item:first-child .address__link {
  color: var(--light-color);
}

.address__item .address__link {
  color: var(--light-alfa-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__soc {
  display: block;
}

.social__title {
  text-align: start;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: var(--light-color);
  background-color: var(--soc-bg-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: var(--light-color);
  background-color: var(--accent-color);
}

.footer__subscription {
  margin-left: 93px;
}

.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-alfa-color);
  border: 1px solid var(--subscription-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input:hover, .subscription__input:focus {
  border-color: var(--light-alfa-color);
}

.subscription__button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
}

.subscription__icon {
  margin-left: 10px;
  fill: var(--light-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--light-color);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: var(--dark-color);
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}

.modal__list {
  margin-bottom: 10px;
}

.modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__field {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--border-input-textarea);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--border-input-textarea);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--border-comment-textarea);
}
.modal__textarea:hover, .modal__textarea:focus {
  border-color: var(--accent-color);
}

.modal__consent {
  margin-bottom: var(--main-gap);
}

.modal__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  border-bottom: 0.7px solid currentColor;
  display: inline-block;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:hover, .modal__link:focus {
  color: var(--btn-accent-color);
}

.modal__icon-checkbox {
  width: 16px;
  height: 15px;
  background-color: transparent;
  fill: var(--light-color);
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:hover + .modal__icon-checkbox, .modal__checkbox:focus + .modal__icon-checkbox {
  border-color: var(--accent-color);
}
.modal__checkbox:checked + .modal__icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal__btn-submit {
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  margin-right: auto;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */