.team {
  background-color: var(--bg-light-color);
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  margin-right: calc(-1 * var(--main-gap));
}
.team__item {
  flex-basis: calc(100% / 4 - var(--main-gap));
  margin-right: var(--main-gap);
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__data {
  padding: var(--main-gap);
}

.team__name {
  margin-bottom: 10px;
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;
}
.team__text {
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__soc-list {
  display: flex;
  justify-content: center;
}
.team__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--soc-icon-color-main);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--light-color);
    background-color: var(--accent-color);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
